.button {
    background-color: #000;       /* black background */
    color: #00ff00;               /* green text */
    border-radius: 12px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    padding: 10px 16px;
    margin: 14px;
    width: 170px;                 /* corrected case */
    height: 47px;                 /* corrected case */
    font-size: medium;
}
